body {
    display: block;
    background-color: aqua;
    text-align: center;
    margin: 10%;
}

.mainH1 {
    color: #182336;
    font-size:100px;
    font-weight: bold;
}

.formP {
    color: #182336;
    font-size:100px;
    font-weight: bold;
}

.btn {
    color: #444b57;
    background-color: aqua;
    font-size:40px;
    font-weight: bold;
    border: 5px solid;
    border-radius: 30px;
    padding: 15px;
    margin-left:1%;

}

.btn:hover {
    background-color:#444b57 ;
    color: aqua;
    cursor: pointer;
}